*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    display: flex;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    
}
img{
    width: 24.7vw;
    height: 100vh;
    transition: 2s;
    object-fit: cover;
}
img:hover{
     scale:115%;
    z-index: 2;
    /* transform: translate3d(0,0,0) scale(1.2); */ */
    overflow: hidden;
}
img:not(:hover){
    opacity: 1;

}

